{
	"extends": "airbnb",
	"rules": {
		"arrow-parens": ["error", "always"],
		"max-len": 0,
		"comma-dangle": ["error", "never"],
		"camelcase": 0,
		"no-param-reassign": 0,
		"no-plusplus": 0,
		"no-console": 0,
		"linebreak-style": 0,
		"prefer-stateless-function": 0,
		"import/no-named-as-default": 0,
		"import/no-extraneous-dependencies": 0,
		"import/no-unresolved": 0,
		"import/extensions": 0
	},
	"globals": {
		"document": true,
		"window": true,
		"location": true,
		"React": true,
		"FcUtils": true,
		"PropTypes": true,
		"fetch": true
	}
}
