.Chart {
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    width: 100%;
    margin-bottom: 0;

    &:nth-child(8n) {
      margin-bottom: 0.6em;
    }
  }

  &__name,
  &__value {
    position: relative;
    z-index: 10;
    display: inline-block;
  }

  &__name {
    display: flex;
    align-items: center;

    & span {
      margin-right: 0.5em;

      &:first-child {
        font-weight: bold;

        @media (--medium) {
          font-size: 1.4em;
        }
      }
    }
  }

  &__value {
    margin-right: 1em;
    min-width: 4em;
    text-align: center;
    padding: 0 0.5em;
    background-color: color(white alpha(60%));
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transition:
      transform 0.6s ease,
      background-color 0.6s ease;
    transform-origin: top left;

    &::after {
      content: '\0020';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to top, color(black alpha(5%)), color(black alpha(0%)));
    }
  }
}
