.Config {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: hsl(0 0% 30%);
  color: white;

  & > * {
    width: 100%;
  }

  &__content {
    max-width: var(--wrapper-tiny);
    font-size: 1.3em;
    line-height: 1.6em;

    @media (--small) {
      font-size: 1.6em;
    }

    @media (--medium) {
      font-size: 2em;
    }

    & strong {
      cursor: pointer;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__control {
    margin-left: var(--space-default);
    cursor: pointer;
    font-size: 2em;
    filter: contrast(0) brightness(2);
  }
}
