.DataSet {
  height: calc(100vh - 3.4em);
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  &__internal {
    height: calc(100vh - 3.4em);
    width: 100%;
  }

  &__container {
    height: calc(100vh - 3.4em);
    padding: 1em;
  }
}
