.MastHead {
  position: relative;
  background-color: hsl(0 0% 20%);
  color: white;

  & .Control {
    cursor: pointer;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
}
